/** @format */

@use '../abstracts' as *;
/* main theme colors */
//https://www.youtube.com/watch?v=Xk12JtYG8rw
:root[data-theme='light'] {
	--page-bg: #fffaf0;
	--page-article: #faebd7;
	--page-color: #40210d;
	--page-h3: #78421e;
	--page-header: #ccc8c0;
	--page-footer: #ccc8c0;
	--page-h4: #73340d;
	--page-li: #521b29;
	--placeholder: #521b29;
	--a-link: #1e2227;
	--a-link-hover: #24261a;
	--a-visited: #4d5e73;
	--page-date: #521b29;
	--page-authors: #e0e0e0;
	--calendar: hsl(336, 86%, 24%);
}

:root[data-theme='dark'] {
	--page-bg: #080b4a;
	--page-article: #3e4296;
	--page-color: #c7c8e8;
	--page-h3: #87bde1;
	--page-header: #066480;
	--page-footer: #066480;
	--page-h4: #b247b2;
	--page-li: #cdb97d;
	--responses: white;
	--placeholder: #fad590;
	--a-link: white;
	--a-link-hover: #cc9d1f;
	--a-visited: yellow;
	--page-u: #4fc3f7;
	--page-date: #080b4a;
	--calendar: #d3927d;
}

body {
	background-color: var(--page-bg);
	color: var(--page-color);
}
h3 {
	color: var(--page-h3);
}
h4.titles {
	color: var(--page-h4);
	text-shadow: 1px 2px 2px #080b4a;
}
.head {
	background-color: var(--page-header);

	a:link {
		color: var(--a-link);
		text-decoration: none;
	}
	a:visited {
		color: var(--a-visited);
	}
	a:hover {
		color: var(--a-link-hover);
		box-shadow: 0 0 15px #868e96;
		outline-color: yellow;
		outline-style: outset;
		outline-offset: 10px;
	}
}
.footer,
.footers {
	background-color: var(--page-footer);
}
li {
	color: var(--page-li);
}

#theme-switcher {
	border: 1px solid #740334;
	border-radius: 25%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	img {
		padding-top: 5px;
	}
}

.calculated,
#convertedMiles,
#showMiles,
.ounceOutput,
.lbOutput,
#formOutput,
#miles2,
#outputFahrenheit,
.showOz,
#showLit,
#showCm,
.mm,
#partialTotal,
#fullPrice,
#materialAmount,
#dilutionAmount {
	color: var(--responses);
}

input {
	color: var(--responses);
}
input::placeholder {
	color: var(--placeholder);
}
p {
	a {
		//font-size: 1.1rem;
		color: var(--a-link);
		font-weight: 800;
	}
	a:visited {
		color: var(--a-visited);
	}
	a:hover {
		color: var(--a-link-hover);
	}
}
u {
	color: var(--page-u);
	text-shadow: 0 0 2px $md-light-blue-800;
	font-family: $font-stack-georgia;
}
.article {
	background-color: var(--page-article);
	margin: 0 0px 2rem 0;
	border: 1px solid #7298ad;
}

.show-Date {
	padding: 0.25rem;
	border: 1px solid gray;
	background: var(--page-date);
	color: white;
}

#toggle {
	position: relative;
	width: 260px;
	height: 100px;
	border-radius: 100px;
	background: #222;
	transition: 0.5s;
	cursor: pointer;
	box-shadow: inset 0 8px 68px rgba(0, 0, 0, 0.1),
		inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4 4px rgba(0, 0, 0, 0.1);
}
#toggle .indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: linear-gradient(to bottom, #444, #222);
	border-radius: 50%;
	transform: scale(0.9);
	box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
		inset 0 4px 4px rgba(255, 255, 255, 0.2),
		inset 0 -4px 4px rgba(255, 255, 255, 0.2);
	transition: 0.5s;
}

#toggle.active .indicator {
	left: 160px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
.color {
	color: var(--calendar);
}
