/** @format */

@use 'variables' as *;
figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.cap 
{
  counter-increment: caption;
  &::after {
    content:  " Example " counter(caption);
    font-weight: bold;
  }
}