@use '../abstracts' as *
/*Common*/

.underline
  border-bottom: 1px solid #000

.error
  color: $antique-ruby

.center-align
  text-align: center

.left-align
  text-align: left

.right-align
  text-align: right

.text-small
  font-size: 0.85rem

.height1
  +height1(6rem)

.hidden
  display: none

.ital
  font-style: italic
  font-variant: small-caps

.current
  border: 1px solid $gen21
  color: $gen26!important
  background: darken($blanchedalmond, 10)


.white
  color: $texty-bg

.title
  font-size: 2.25rem
  color: $very-peri
  text-shadow: 1px 2px 1px $gen26
  border: 3px solid $gen21
  padding: 0 1rem
  margin-right: 1rem
  background: darken($blanchedalmond, 10)

.indent
  padding-left: 1rem

.fz75
  font-size: .75rem

.calculated
  font-size: $h5-font-size
  padding-left: 1rem
  font-weight: $font-weight-bold

.emp
  padding: .15rem

.heady
  height: 3rem
  @include center(center, center)
  border-bottom: 2px solid $gen26

article
  border-bottom: 2px solid darken($blanchedalmond, 30)

article:last-of-type
  border-bottom: none

.footer
  border-top: 2px solid darken($blanchedalmond, 40)

.dates
  text-align: right
  padding: 0 3rem 1rem 0
