/** @format */
@use '../abstracts' as *;
#article-containers {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	grid-gap: 1rem;
}

.parcel {
	border: 1px solid $corn-orange;
}
.music {
	text-align: center;
}
.book-title {
	text-align: center;
}
.parcels {
	@extend .parcel;
	margin-bottom: 2rem;
}
.author {
	text-align: center;
	border-bottom: 1px solid #000;
}
.author,
.book-title,
.music {
	background: var(--page-authors);
}
